{% include "public/header.html"%}

		<div class="right">
			<div class="huiyuan_main">
				<h3 class="hy_rtt c666">Order Reference： {{id}}</h3>
				<div class="mat5 font13 zt">
					<p class="c666"><span class="font12">{{atime|date('Y-m-d H:i')}}：</span><span class="cgreen">Order Created</span>, Order Reference：{{id}}</p>
					{# Pay on delivery #}
				{% if payway == 3 %}
					{% if state == 1 %}
					<p class="cred mat5 font12">Waiting for the seller to deliver the goods</p>
					<a class="shouhuo_btn" href="/admin/order/state/3?id={{id}}" onclick="return bro_dialog(this, 'Fill in the express information')">Ship</a>
					{% elseif state == 3%}
					<p class="c666 mat5"><span class="font12">{{stime|date('Y-m-d H:i')}}：</span><span class="cgreen">The seller has sent the goods</span>, Order Reference：[{{wlid}}],
						{% if wlname !=null %} {{wlname}} {% else %} No Need Express {%endif%}
					</p>

					<p class="c666 mat5"> Waiting for the buyer to pay
						<a class="pay_btn" href="/admin/order/state/2?id={{id}}" onclick="return confirm('Are you sure you have been paid?')">Payment</a>
					</p>

					{% elseif state == 4 %}
					<p class="c666 mat5"><span class="font12">{{stime|date('Y-m-d H:i')}}：</span><span class="cgreen">The seller has sent the goods</span>, Order Reference：[{{wlid}}],
						{% if wlname !=null %} {{wlname}} {% else %} No need Express {%endif%}</p>
					<p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen">Buyer paid successfully</span>, Payment Amount： ￥{{money}}</p>
					<p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen strong">Order completed, welcome to visit next time!</span></p>
					{% endif %}
					{# Pay before delivery #}
				{% elseif payway == 2%}
					{% if state == 1 %}
					<p class="c666 mat5"> Waiting for the buyer to pay
						<a class="pay_btn" href="/admin/order/state/2?id={{id}}" onclick="return confirm('Are you sure you have been paid?')">Pay</a>
					</p>
					{% elseif state == 2%}
					<p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen">Buyer paid successfully</span>, Payment Amount： ￥{{money}}</p>
					<p class="cred mat5 font12">Waiting for the seller to deliver the goods</p>
					<a class="shouhuo_btn" href="/admin/order/state/3?id={{id}}" onclick="return bro_dialog(this, 'Fill in the express information')">Ship</a>

					{% elseif state == 3%}
						<p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen">Buyer paid successfully</span>, Payment Amount： ￥{{money}}</p>
						<p class="c666 mat5"><span class="font12">{{stime|date('Y-m-d H:i')}}：</span><span class="cgreen">The seller has sent the goods</span>, Order Reference：[{{wlid}}],
						{% if wlname !=null %} {{wlname}} {% else %} No need express {%endif%}</p>
						<p class="cred mat5 font12">Waiting for buyer confirmation</p>

					{% elseif state == 4%}
					<p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen">Buyer paid successfully</span>, Payment Amount： ￥{{money}}</p>

					<p class="c666 mat5"><span class="font12">{{stime|date('Y-m-d H:i')}}：</span><span class="cgreen">The seller has sent the goods</span>, Order Reference：[{{wlid}}],
						{% if wlname !=null %} {{wlname}} {% else %} No need express {%endif%}</p>
					<p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen strong">Order completed, welcome to visit next time!</span></p>


					{% endif %}

					{% elseif payway == 1%}

				{% endif %}








					<!--货到付款-->

					<div class="clear"></div>
				</div>
				<form method="post" action="/admin/order/doupdate">
					<input type="hidden" name="id" value="{{id}}">
					<div class="hy_table" style="margin-top:10px;">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_tb_tt1">
							<tr>
								<td class="bg_f8 font12" width="">Products</td>
								<td class="bg_f8 font12" width="120">Unit Price</td>
								<td class="bg_f8 font12" width="120">Quantity</td>
							</tr>
						</table>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left:1px solid #ddd;">

							{% for v in product_list %}
							<tr>
								<td style="text-align:left;">
									<div class="dingdan_list">
										<a href="/product/{{v.pid}}" target="_blank" class="fl mar5"><img src="{{res}}/product/{{v.plogo}}" width="45" height="45"></a>
										<div class="fl font12">
											<a href="/product/{{v.pid}}"  title="{{v.pname}}" target="_blank" class="cblue dd_name">{{v.pname}}</a>

										</div>
										<div class="clear"></div>
									</div>
								</td>
								<td width="110"><span class="num strong font14"><small>￥</small>{{v.pmoney}}</span></td>
								<td width="100"><span class="num font14">{{v.pnum}}</span></td>
							</tr>
							{% endfor %}

						</table>
						<div class="ddxq_je font13">
							{% if state != 1 %}
							Total Price：<span class="strong num1 font18 cred strong" id="order_money">{{money}}</span>(￥) ＝
							<span class="font14 cred num strong">{{productmoney}}</span>(Products)
							＋ <span class="font14 cred num strong">{{wlmoney}}</span>(Express Fee)
							{% else %}
							Total Price：<span class="strong num1 font18 cred strong" id="order_money">{{money}}</span>(￥) ＝
							<input  name="productmoney" value="{{productmoney}}" class="inputtext input80" />(Products)
							＋ <input  name="wlmoney" value="{{wlmoney}}"  class="inputtext input60" />(Express Fee)
							{% endif %}
						</div>
					</div>
					<div class="hy_table3">
						<h3>Receipt Information</h3>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td style="text-align:right" width="105">Account：</td>
								<td style="text-align:left">{% if uid != 0 %} {{uname}} (ID: {{uid}})  {% else %} <span class="c888"> Unlogged User </span>  {% endif %}</td>
							</tr>
							<tr>
								<td style="text-align:right">Payment：</td>
								<td style="text-align:left">

									{% if state == 1 %}
									<select name="payway" id="" class="inputselect">
										{% for k,v in cache_payway %}
											<option value="{{k}}"   {{ k == payway ? 'selected' : '' }}>{{v.name}}</option>
										{% endfor %}
									</select>

									{% else %}

										{{paywayarr[payway]}}
									{% endif %}
								</td>
							</tr>
							<tr>
								<td style="text-align:right">Consignee：</td>
								<td style="text-align:left">
									{% if state == 4 %}
										{{utname}}
									{% else %}
									<input type="text" name="utname" value="{{utname}}" class="inputall input150">
									{% endif %}

								</td>
							</tr>
							<tr>
								<td style="text-align:right">Phone：</td>
								<td style="text-align:left">
									{% if state == 4 %}
										{{uphone}}
									{% else %}
									<input type="text" name="uphone" value="{{uphone}}" class="inputall input150">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td style="text-align:right">Address：</td>
								<td style="text-align:left" colspan="3">
									{% if state == 4 %}
									{{uaddress}}
									{% else %}
									<input type="text" name="uaddress" value="{{uaddress}}" class="inputall input500">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td style="text-align:right">Buyer Notes：</td>
								<td style="text-align:left" colspan="3">
									{{content}}
								</td>
							</tr>
						</table>
					</div>
					{% if state != 4 %}
					<div class="mat10 center">
						<input type="submit" name="do_submit" value="Edit" class="tjbtn">
					</div>

					{% endif %}
				</form>
			</div>
			<div class="clear"></div>
		</div>
		<script charset="utf-8" src="{{public}}/js/plugin/artdialog/jquery.artDialog.js?skin=chrome"></script>
		<script charset="utf-8" src="{{public}}/js/plugin/artdialog/plugins/iframeTools.js"></script>
		<script type="text/javascript">
			$(function(){
				$(":input[name='productmoney']").add(":input[name='wlmoney']").keyup(function(){
					var order_productmoney = parseFloat($(":input[name='productmoney']").val());
					var order_wlmoney = parseFloat($(":input[name='wlmoney'").val());
					if (isNaN(order_productmoney)) {
						order_productmoney = 0;
					}
					if (isNaN(order_wlmoney)) {
						order_wlmoney = 0;
					}
					$("#order_money").html(order_productmoney + order_wlmoney);
				})
			})
		</script>
{% include "public/footer.html"%}

