{% include "public/header.html" %}
<div class="content">
    {% include "user/menu.html" %}
    <div class="fr huiyuan_main">
        <h3 class="hy_rtt c666">Order Reference： {{id}}</h3>
        <div class="mat5 font13 zt">
            <p class="c666"><span class="font12">{{atime|date('Y-m-d H:i')}}：</span><span class="cgreen">Order created successfully</span>, Order Reference：{{id}}</p>
            {# Cash on delivery #}
            {% if payway == 3 %}
            {% if state == 1 %}
            <p class="cred mat5 font12">Waiting for the seller to sent the goods</p>
            {% elseif state == 3%}
            <p class="c666 mat5"><span class="font12">{{stime|date('Y-m-d H:i')}}：</span><span class="cgreen">The seller has sent the goods</span>, Courier Number：[{{wlid}}],
                {% if wlname !=null %} {{wlname}} {% else %} No need Express {%endif%}
            </p>

            <p class="c666 mat5"> Waiting for the buyer to pay</p>

            {% elseif state == 4 %}
            <p class="c666 mat5"><span class="font12">{{stime|date('Y-m-d H:i')}}：</span><span class="cgreen">The seller has sent the goods</span>, Courier Number：[{{wlid}}],
                {% if wlname !=null %} {{wlname}} {% else %} No need Express {%endif%}</p>
            <p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen">Buyer paid successfully</span>, Payment Amount： ￥{{money}}</p>
            <p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen strong">Order completed, welcome to visit next time!</span></p>
            {% endif %}
            {# Pay after delivery #}
            {% elseif payway == 2%}
            {% if state == 1 %}
            <p class="c666 mat5"> Waiting for the buyer to pay</p>
            {% elseif state == 2%}
            <p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen">Buyer paid successfully</span>, Payment Amount： ￥{{money}}</p>
            <p class="cred mat5 font12">Waiting for the seller to sent the goods</p>


            {% elseif state == 3%}
            <p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen">Buyer paid successfully</span>, Payment Amount： ￥{{money}}</p>
            <p class="c666 mat5"><span class="font12">{{stime|date('Y-m-d H:i')}}：</span><span class="cgreen">The seller has sent the goods</span>, Courier Number：[{{wlid}}],
                {% if wlname !=null %} {{wlname}} {% else %} No need Express {%endif%}</p>
            <p class="cred mat5 font12">Waiting for buyer confirmation</p>

            {% elseif state == 4%}
            <p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen">Buyer paid successfully</span>, Payment Amount： ￥{{money}}</p>

            <p class="c666 mat5"><span class="font12">{{stime|date('Y-m-d H:i')}}：</span><span class="cgreen">The seller has sent the goods</span>, Courier Number：[{{wlid}}],
                {% if wlname !=null %} {{wlname}} {% else %} No need Express {%endif%}</p>
            <p class="c666 mat5"><span class="font12">{{ptime|date('Y-m-d H:i')}}：</span><span class="cgreen strong">Order completed, welcome to visit next time!</span></p>


            {% endif %}

            {% elseif payway == 1%}

            {% endif %}








            <!--货到付款-->

            <div class="clear"></div>
        </div>
        <div class="hy_table" style="margin-top:10px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hy_tb_tt1">
                <tr>
                    <td class="bg_f8 font12" width="">Products</td>
                    <td class="bg_f8 font12" width="120">Unit Price</td>
                    <td class="bg_f8 font12" width="120">Quantity</td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-left:1px solid #ddd;">
                {% for v in product_list %}
                <tr>
                    <td style="text-align:left;">
                        <div class="dingdan_list">
                            <a href="/product/{{v.pid}}" class="fl mar5"><img src="{{res}}/product/{{v.plogo}}" width="45" height="45"></a>
                            <div class="fl font12">
                                <a href="/product/{{v.pid}}" title="{{v.pname}}" target="_blank" class="cblue dd_name">{{v.pname}}</a>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td width="110"><span class="num strong font14">{{v.pmoney}}</span></td>
                    <td width="100"><span class="num font14">{{v.pnum}}</span></td>
                </tr>
                {% endfor %}
            </table>
            <div class="ddxq_je font13">
                Total Price：<span class="strong num1 font18 cred strong">{{money}}</span>(￥) ＝
                <span class="font14 cred num strong">{{productmoney}}</span>(Products Price)
                ＋ <span class="font14 cred num strong">{{wlmoney}}</span>(Express Fee)
            </div>
        </div>
        <div class="hy_table3">
            <h3>Receipt Information</h3>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="text-align:right" width="75">Account：</td>
                    <td style="text-align:left" width="260">{{uname}}（ID：{{uid}}）</td>
                    <td style="text-align:right" width="75">Payment：</td>
                    <td style="text-align:left">{{paywayarr[payway]}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Consignee：</td>
                    <td style="text-align:left">{{utname}}</td>
                    <td style="text-align:right">Contact：</td>
                    <td style="text-align:left">{{uphone}}</td>
                </tr>
                <tr>

                    <td style="text-align:right">Address：</td>
                    <td style="text-align:left" colspan="3">{{uaddress}}</td>
                </tr>
                <tr>
                    <td style="text-align:right">Notes：</td>
                    <td style="text-align:left" colspan="3">{{content}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clear"></div>
</div>


{% include "public/footer.html" %}